{% extends "home/base.html" %}
{% block content_css %}
{% load static %}
<link rel="stylesheet" href="{% static 'home/css/cover.css' %}">
{% endblock  %}
{% block  content_page %}
    <div class="container" style="text-align: center;">

      <div class="col-md-12" style="margin-top: 25%;">
        <h1>M-Pesa for all</h1>
        <p class="lead">O M-Pesa WSDK ou simplesmente M-Pesa Web SDK é criado pensando em desenvolvedores de diferentes plataformas, onde não é necessário muito code ou instalar alguma sdk para fazer pagamentos via M-Pesa.</p>
        <p class="lead">O M-Pesa FA é na verdade um <strong style="font-weight: bold;">SDK online</strong>.</p>
        <p class="lead">Neste momento, o M-Pesa WSDK está em desenvolvimento, onde se espera muito feedback dos developers.</p>
        <p class="lead">O M-Pesa WSDK é desenvolvido e mantido por <a  target="_blank" href="https://www.linkedin.com/in/nélzio-sitoe-8a622a109/">Nélzio Sitoe</a>.</p>
        <p class="lead">
          <a href="{% url 'url_pay_c2b' %}" class="btn btn-lg btn-success">Documentação</a>
        </p>
      </div>


    </div>
    {% endblock  %}
