{% extends "home/base.html" %}

{% block content_css %}
{% load static %}
<link rel="stylesheet" href="{% static 'home/css/style.css' %}">
{% endblock  %}
{% block  content_page %}
{% load static %}
<nav class="navbar navbar-expand-lg navbar-dark navbar-costom fixed-top">
    <a class="navbar-brand" href="/">M-Pesa WSDK</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a  class="nav-link main" href="/">Home</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link main dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Pagamento
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown" style="color: #000;">
                  <a class="dropdown-item" href="{% url 'url_pay_c2b' %}">C2B</a>
                  <a class="dropdown-item" href="{% url 'url_pay_b2c' %}">B2C</a>
                </div>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link main no-hover">Status</a>
            </li>
            <li class="nav-item">
                <a class="nav-link main no-hover" href="#">Reversão</a>
            </li>
        </ul>
    </div>
</nav>

<div class="container h-100" style="margin-top: 5rem">
    <div class="row h-100 justify-content-md-center">
        <!--aside information-->




        <!--Mai content-->
        <main class="col-12 col-md-8">
            <div class="card mb-3 shadow-box" style="margin-bottom: 2rem;">
                <div class="card-header" style="padding-bottom: 5px;">
                    Descrição
                </div>

                <div class="card-body">
                    <p class="card-text" style="margin-top: 10px;">
                        A chamada da API do B2C é usada como uma transação padrão de empresa para cliente. <br>
                        Os fundos da carteira móvel da empresa serão deduzidos e transferidos para a carteira móvel do terceiro cliente.
                    </p>
                </div>
            </div>
            <div class="card mb-3 shadow-box" style="margin-bottom: 2rem;">
                <div class="card-header" style="padding-bottom: 5px;">
                    M-Pesa WSDK
                </div>

                <div class="card-body">
                    <p class="card-text" style="margin-top: 10px;">
                        Para usar a API B2C do m-pesa através do <b>M-Pesa FA</b> você tem de fazer uma requisição post para:<br>
                        <span style="color:#939">
                            https://mpesa-fa.herokuapp.com/api/b2c/
                        </span><br><br>
                        Veja abaixo o cabeçalho
                    </p>
                </div>
            </div>
            <div class="card mb-3 shadow-box" style="margin-bottom: 2rem;">
                <div class="card-header" style="padding-bottom: 5px;">
                    Parametros
                </div>

                <div class="card-body">
                    <table class="table">
                      <thead>
                        <tr>
                          <th scope="col">Nome</th>
                          <th scope="col">Descrição</th>
                          <th scope="col">Possíveis Valores</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>amount</td>
                          <td>Valor da transação</td>
                          <td>"Valor do produto"</td>
                      </tr>
                      <tr>
                        <td>msidsn</td>
                        <td>Numero de telefone do cliente</td>
                        <td>"Numero vodacom válido (840000000)"</td>
                    </tr>
                          <tr>
                            <td>api_key</td>
                            <td>você pode ter acesso à sua chave de API na sua conta</td>
                            <td>"Api Key que esta na tua conta"</td>
                          </tr>
                          <tr>
                            <td>public_key</td>
                            <td>você pode ter acesso à sua chave pública na sua conta</td>
                            <td>"Public Key que esta na tua conta"</td>
                          </tr>
                          <!--tr>
                            <td>business</td>
                            <td>Nome do negocio ou da aplicacao</td>
                            <td>"Nelzio Comercial"</td>
                          </tr>-->
                        </tr>
                      </tbody>
                    </table>
                </div>
            </div>
            <div class="card mb-3 shadow-box" style="margin-bottom: 2rem;">
                <div class="card-header" style="padding-bottom: 5px;">
                    Exemplo com Fetch
                </div>

                <div class="card-body">
                    <script src="https://gist.github.com/Nelzio/f9d17e60062e79100753d7c41bac6d7f.js"></script>
                </div>
            </div>
        </main>
        
    </div>
</div>

<!--footer-->
<nav class="navbar navbar-expand-lg navbar-light bg-light" style="margin-bottom: 0px;">
    <ul class="navbar-nav mr-auto">
    </ul>
    <span class="navbar-text">
      Powered by <a target="_blank" href="https://www.linkedin.com/in/nélzio-sitoe-8a622a109/">Nélzio Sitoe</a>
    </span>
</nav>
{% endblock  %}