asn1crypto
astroid
certifi
cffi
chardet
cryptography
dj-database-url
dj-static
Django
django-cors-headers
django-filter
django-filters
django-templated-mail
djangorestframework
djangorestframework-filters
djoser
ecdsa
future
idna
isort
lazy-object-proxy
mccabe
pyasn1
pycparser
pycryptodome
python-decouple
python-jose
pytz
requests
rsa
six
static3
urllib3
wrapt
